@import 'reset';

/* Specific */
body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
  font-size: 1.2rem;
}

/* Styles - gradient */
@import 'buttons';

body {
  font-family: sans-serif;
  margin: 0;
  background-color: rgba(5, 5, 5, 0.952);

}

#nbColors {
  position: fixed;
  left: 50%;
  top: 0;
  color: #fff;
  transform: translateX(-50%);
  background-color: #3273dc;
  /* background-color: #0ba */
  padding: .3rem .6rem;
  font-size: .8rem;
  border-radius: 0 0 .5em .5em;
}

#root {
  width: 1000px;
  margin: 3em auto;
  text-align: center;
}

.buttons {
  margin: auto;
  justify-content: center;
  
}

#colors {
  font-family: monospace;
  display: flex;
  justify-content: space-around;
  color: #666;
  padding: 1rem;
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px #999;
  background-color: rgba(255, 251, 226, 0.959);
  border-radius: 20px;
  margin: 50px;
  border: solid grey 1px;
}
#direction {
  font-weight: bold;
  font-size: 3em;
  line-height: 1;
}
#gradient {
  height: 550px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  color: rgba(255,255,255,.5);
  font-size: 8rem;
  line-height: 2;
  border: solid grey 2px;
}


